doctype html
html(
    lang="en",
    ng-app="selectApp"
)
    head
        block meta
            meta(charset="utf-8")
            meta(
                name="viewport",
                content="width=device-width, initial-scale=1"
            )
            link(
                rel="icon",
                href="/images/favicon.ico",
                type="image/png"
            )
        block title
        block stylesheet
            //- link(
            //-     rel="stylesheet",
            //-     href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
            //- )
            <!-- bower_dependencies:css -->
            <!-- bower_dependencies -->
            <!-- local_dependencies:css -->
            <!-- local_dependencies -->
    body(ng-controller="MainCtrl")
        block content
        block script
            //- script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
            <!-- bower_dependencies:js -->
            <!-- bower_dependencies -->
            <!-- local_dependencies:js -->
            <!-- local_dependencies -->